* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("/Styles/Pictures/LoginBG.jpg") no-repeat center center;
    background-size: cover;
}

#centerText {
    text-align: center;
}

.container {
    background-image: url("/Styles/Pictures/LoginBG.jpg");
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    height: 2002px; /* Set a fixed height for the container */
    /* Other styles */
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 3px solid rgba(132, 184, 157, 0.2);
    border-radius: 40px;
    font-size: large;
}

.input-box input::placeholder {
    color: rgb(0, 0, 0);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .rememeber-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.rememeber-forget label input {
    accent-color: white;
    margin-right: 2px;
}

.rememeber-forget a {
    color: white;
    text-decoration: none;
}

.rememeber-forget a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link P a:hover {
    text-decoration: underline;
}